/* Write your CSS code here */
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.img {
  width: 320px;
}
.h1 {
  color: #6d396b;
  font-size: 32px;
  font-weight: 500;
}
